.sidenav {
    width: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 60px;
    bottom: 0;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    box-shadow: 0 8px 17px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 8px 17px rgba(0,0,0,.2);
    background: #fff;
    z-index: 10;
}

.sidenav.open {
    width: 250px;
}

button.indent {
    margin-left: 10px;
}

/*.sidenav {
    height: 100%;
    width: 250;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 51px;
    padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}*/


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}