.month-header {
  display: inline-block;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.narrow {
    margin-top: 0px;
    padding-top: 0px;
}

.change-month:hover {
    cursor: pointer;
    color: lightsteelblue;
}

.habit-day span:hover:not(.habit-day-inactive) {
    cursor: pointer;
}

.habit-day span {
    display: inline-block;
    margin: auto;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding-top: 1px;
}

.failure {
    border: 1px solid #DB4C3F;
    background-color: #DB4C3F;
    color: white;
}

.success {
    border: 1px solid #17AA1C;
    background-color: #17AA1C;
}

.habit-day-inactive {
    cursor: default;
    border: 1px solid lightgray;
    background-color: lightgray;
    color: lightgray;
}

.habit-day-inactive:hover {
    cursor: default;
    background-color: lightgray;
    transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
}

.habit-day2 {
    margin: auto;
    border: 1px solid black;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    padding-top: 2px;
    background-color: red;
}