<div class="container">
    <div class="row vertical-align">
        <div class="col-md-2"></div>
        <div class="col-md-8 center">
            <h1 class="month-header change-month" style="white-space: pre" (click)="onFlipCalendar(-1)">< </h1>
            <h1 class="month-header">{{habit?.week.title}}</h1>
            <h1 class="month-header change-month" style="white-space: pre" (click)="onFlipCalendar(1)"> ></h1>
        </div>
        <div class="col-md-2 btn-toolbar pull-right">
            <button type="button" title="Month View" class="btn btn-default btn-sm btn-group" [routerLink]="['/' + id + '/month']" aria-label="Toggle Calendar View Betweem Month and Week">
                    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </button>
            <button type="button" title="Edit" class="btn btn-default btn-sm btn-group" [routerLink]="['/' + id + '/edit']" (click)="onEditClick()" aria-label="Edit Habit">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            </button>
            <button type="button" title="Details" class="btn btn-default btn-sm btn-group" [routerLink]="['/' + id + '/details']" aria-label="View Habit Details">
                <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
            </button>
        </div>
    </div>
    <h4>{{habit?.name}}</h4>
</div>
<br>

<div class="container">
    <div class="table-responsive">
        <table class="table table-condensed">
            <tr>
                <th class="center">SUN</th>
                <th class="center">MON</th>
                <th class="center">TUE</th>
                <th class="center">WED</th>
                <th class="center">THU</th>
                <th class="center">FRI</th>
                <th class="center">SAT</th>
            </tr>
            <tr>
                <td class="center habit-day" *ngFor="let day of habit?.week.days"><span [ngClass]="day.css_class" (click)="onDateClick(habit.$key, day)">{{day.date | date:'d'}}</span></td>
            </tr>
        </table>
    </div>
</div>
